

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.wrapper {

    background:#FFE2B8;
    padding: 2%;

}

nav {

  background: #E8C66A;
  border: 1px black solid;
  padding: 20px;
  
}

header  {

  background: #FFED74;
  border: 1px black solid;
  padding: 20px;

}

aside {

  background: #FFC675;
  border: 1px black solid;
  padding: 20px;

}

section {

  background: #E89C6C;
  border: 1px black solid;
  padding: 20px;

}

footer {

  background: #FF957E;
  border: 1px black solid;
  padding: 20px;
  clear: both;

}


.two_column {

  background-color: #FFB7CF;
  border: 1px black solid;
  padding: 20px;
  height:500px;

}

.two_column > aside {

    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float:left;
    width: 30%;
    margin-left:220px;
    margin-top:25px;

}
/*
#left {

  background-color: violet;
  border: 1px black solid;
  padding: 20px;
  float: left;
  width: 30%

}*/

/*#right {

  background-color: pink;
  border: 1px black solid;
  padding: 20px;
  float: right;
  width: 62%*/

}

#aboutme {

  clear:both;
}

























